body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

* {
    padding: 0px;
}

header {
    border: 1px solid black;
    width: 600px;
    align-items: center;
    justify-content: center;
    margin: 100px 100px;
    gap: 10px;
    display: grid;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.587);
}

header>p {
    text-align: center;
}

.personalidentity {
    text-align: left;
    border: 2px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 0px;
    align-items: start;
    justify-content: start;
    border-radius: 5px;
}

.personalidentity>p {
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    background-color: rgb(203, 187, 187);
}

.form-input {
    display: grid;
    grid-template-columns: 160px 1fr;
    align-items: center;
    /* vertical center */
    column-gap: 20px;
    margin: 14px 0;
    min-height: 42px;
}

.radio {
    display: flex;
    align-items: center;
    gap: 24px;
}

label {
    font-weight: 600;
}

.address-details {
    text-align: left;
    border: 2px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 0px;
    align-items: start;
    justify-content: start;
    border-radius: 5px;
}

.address-details>p {
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    background-color: rgb(203, 187, 187);
}

.education {
    text-align: left;
    border: 2px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 0px;
    align-items: start;
    justify-content: start;
    border-radius: 5px;
}

.education>p {
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    background-color: rgb(203, 187, 187);
}

.KYC-DETAILS {
    text-align: left;
    border: 2px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 0px;
    align-items: start;
    justify-content: start;
    border-radius: 5px;
}

.KYC-DETAILS>p {
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    background-color: rgb(203, 187, 187);

}

.annual {
    display: flex;
    display: grid;
    grid-template-columns: 160px 1fr;
    align-items: center;
    /* vertical center */
    column-gap: 20px;
    margin: 14px 0;
    min-height: 42px;

}
